[Unit]
Description=Google Container Advisor
Requires=docker.socket
After=docker.socket

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "docker history google/cadvisor:latest >/dev/null 2>&1 || docker pull google/cadvisor:latest"
ExecStartPre=/bin/sh -c "docker inspect cadvisor >/dev/null 2>&1 && docker rm -f cadvisor || true"
ExecStartPre=/bin/sh -c "etcdctl set /deis/monitor/endpoints/cadvisor/$COREOS_PRIVATE_IPV4 9094 >/dev/null" # <- fixme hax
ExecStart=/usr/bin/docker run --volume=/:/rootfs:ro --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --publish=9094:9094 --name=cadvisor google/cadvisor:latest --port=9094
ExecStartPost=/bin/sh -c "etcdctl set /deis/monitor/endpoints/cadvisor/$COREOS_PRIVATE_IPV4 9094 >/dev/null" # <- fixme hax
ExecStop=-/usr/bin/docker rm -f cadvisor
ExecStopPost=/bin/sh -c "etcdctl rm /deis/monitor/endpoints/cadvisor/$COREOS_PRIVATE_IPV4 >/dev/null"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
