[Unit]
Description=deis-node-exporter

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStart=/bin/sh -c "docker run --rm -e HOST=$COREOS_PRIVATE_IPV4 -p 9100:9100 --name=deis-monitor-exporter prom/node-exporter:latest" # fixme, at least pin to version
ExecStartPost=/bin/sh -c "etcdctl set /deis/monitor/endpoints/nodeexporter/$COREOS_PRIVATE_IPV4 9100 >/dev/null" # <- fixme hax
ExecStop=-/usr/bin/docker stop deis-monitor-exporter
ExecStopPost=-/bin/sh -c "etcdctl rm /deis/monitor/endpoints/nodeexporter/$COREOS_PRIVATE_IPV4 >/dev/null"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
